.sidebar {
  width: 250px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.nav-link i {
  margin-right: 8px;
}

.nav-link.active {
  margin-left: 10px;
  background-color: #e2e6ea;
  border-radius: 5px;
  font-weight: bold;
  color: #000 !important;
}

body {
  background-color: #f9f9f9;
}

.sidebar {
  background-color: #fff;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.sidebar a {
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  color: #007bff;
}

.info-card {
  background-color: #efefef;
  border-radius: 20px;
  padding: 20px;
}

.info-card h6 {
  font-weight: 500;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
